/* @font-face {
  font-family: "Geist";
  src: url("./fonts/GeistVF.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GeistMono";
  src: url("./fonts/GeistMonoVF.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

 */
