@tailwind base;
@tailwind components;
@tailwind utilities;

@import "utils";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --shell-indicator: #74ea28;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

::-moz-selection {
  background: rgb(14 165 233 / 0.2);
}

::selection {
  background: rgb(14 165 233 / 0.2);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-synthesis: none;
  font-family: var(--font-geist-mono);
  font-size: 16px;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

code {
  font-family: inherit;
}
  