@import "tailwindcss";
@import "tw-animate-css";
@import "./utils.css";
@import "./fonts.css";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --shell-indicator: #74ea28;
    --font-geist-mono: "Geist Mono", monospace;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-synthesis: none;
    font-family: var(--font-geist-mono);
    font-size: 16px;
  }

  code {
    font-family: inherit;
  }
}

::-moz-selection {
  background: rgb(14 165 233 / 0.2);
}

::selection {
  background: rgb(14 165 233 / 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
